#navbar-inverse
{
	margin-bottom: 0px;
}
#jumbotron1{
	background-color: white;
	height: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px; 
}
#jumbotron2{
	background-image: url(../imagen/descarga.jpg);
	height: 350px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}

#row{
	margin-top: 30px;
	text-align: center;
	height: 300px;
	background-color: rgba(0, 0, 10, 0.5);
}
#row h2{
	color: white;
	font-size: 3em;
	font-family: calibri;
	font-weight: bold;
}
#parrafo{
	margin-top: 60px;
	font-family: calibri;
}
#leer p{
	color: white;
	text-align: center;
	border: 1px solid rgb(179, 88, 75);
	background-color: rgb(179, 88, 75);
}
#jumbotron3 {
	margin-top: 0px;
	background-color: white;
	height: 400px;
	margin-bottom: 0px;
}

